.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #282c34;
    color: white;
}

.Home header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.Home h1 {
    font-size: 2.8rem;
}

.Home .button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #61dafb;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}